@import '_variables';

* {
  font-family: 'Krub', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

html {
  font-size: 100%;
}

body {
  background: $light-gray;
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  color: $gray;
  letter-spacing: 0.02rem;
}

.calc-area, .result-area {
  width: 33%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.calc-area {
  margin-right: 30px;
  overflow: hidden;
  padding-bottom: 50px;

  .amount-btns {
    display: flex;
    flex-flow: row nowrap;
  }

  .amount-area, .period-area {
    p {
      font-size: 1.3rem;
      letter-spacing: 0.4px;
    }
  }

  .amount-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;

    .input-div {
      padding-bottom: 20px;
    }

    p {
      margin-bottom: 40px;
    }

    button {
      font-size: 2.5rem;
      font-weight: 200;
      width: 4rem;
      height: 4rem;
      border: 1px solid $purple;
      line-height: 0;
      border-radius: 50%;
      background: transparent;
      color: $purple;
      cursor: pointer;
      @include transition;

      &:hover {
        background: $purple;
        color: white;
        @include transition;
      }
    }
  }

  #add-btn {
    margin-left: 1rem;
  }

  .currency-amt, input[type="text"] {
    font-size: 1.7rem;
    color: black;
  }

  input[type="text"] {
    background: transparent;
    border: none;
    width: 60%;
    &:focus-visible {
      outline: none;
    }
  }

  .month-qty {
    color: $purple;
  }
}

.result-area {
  background: white;
  padding: 30px;
  margin-left: 30px;
  @include box-shadow;

  h1 {
    color: $purple;
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
  }

  img {
    max-width: 100%;
    width: 140px;
    align-self: center;
    position: relative;
    margin-top: -100px;
    margin-bottom: 40px;
  }

  .disclaimer {
    line-height: 1.5rem;
  }
}

#period {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;

  &::-moz-range-thumb {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    background: $purple;
    cursor: pointer;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: $purple;
    margin-top: -9px;
    box-shadow: rangetracker($medium-gray, -9px);
  }

  &::-moz-range-track {
    height: 2px;
    background: $medium-gray;
    border-radius: 2px;
  }

  &::-webkit-slider-runnable-track {
    height: 2px;
    background: $purple;
    border-radius: 2px;
  }

  &::-moz-range-progress {
    background: $purple;
    border-radius: 2px;
    height: 2px;
  }
}

@media (max-width: 1025px) {

  #root {
    gap: 100px;
    align-content: center;
    height: auto;
    min-height: 100%;
    margin: 1rem;
  }

  .calc-area, .result-area {
    width: 90%;
    flex-flow: column wrap;
    margin: 0;
  }

  .result-area {
    width: 85%;
  }
}